body {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.register-hyper {
    color: #0080ff;
    padding: 2px 5px;
    border: none;
    border-radius: 7px;
    transition: 0.2s;
}

.register-hyper:hover {
    background-color: #0080ff22;
}